.projectItem {
  width: min-content;
  display: flex;
  align-items: end;
}

.projectImageContainer {
  position: relative;
}

.projectItemActive .projectImageContainer {
}
.projectItemActive {
  transition: all 0.4s ease-in-out;
  z-index: 2;
  position: relative;
}
/* .projectItemActive::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background: yellow;
  z-index: 2;
} */
.projectImage {
  position: relative;
  object-fit: cover;
  object-position: bottom center;
  transition: all 0.4s ease-in-out;
  filter: grayscale(1);
}

.projectItemActive .projectImage {
  filter: grayscale(0);
}
/* Sub-active cards - left side */
.subActiveCardLeft {
  transition: all 1s cubic-bezier(0.7, 0, 0, 1);
}

/* Sub-active cards - right side */
.subActiveCardRight {
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}
/* Анимация движения к центру */
.animateToCenter {
  animation: moveToCenter 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.animateFromCenter {
  animation: moveFromCenter 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

/* Ключевые кадры для движения к центру */
@keyframes moveToCenter {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--center-offset, 0));
    /* transform: translateY(300px); */
  }
}

/* Ключевые кадры для возврата с центра */
@keyframes moveFromCenter {
  0% {
    transform: translateX(var(--center-offset, 0));
  }
  100% {
    /* transform: translateY(-300px); */
    transform: translateX(0);
  }
}

/* Смещения для каждой позиции (остаются без изменений) */
.subActiveCardLeft.subActiveCard1 {
  --center-offset: calc(1 * (254px + 20px));
}

.subActiveCardLeft.subActiveCard2 {
  --center-offset: calc(2 * (254px + 20px));
}

.subActiveCardLeft.subActiveCard3 {
  --center-offset: calc(3 * (254px + 20px));
}

.subActiveCardRight.subActiveCard1 {
  --center-offset: calc(-1 * (254px + 20px));
}

.subActiveCardRight.subActiveCard2 {
  --center-offset: calc(-2 * (254px + 20px));
}

.subActiveCardRight.subActiveCard3 {
  --center-offset: calc(-3 * (254px + 20px));
}
