.carouselContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 20px;
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.projectsList {
  display: flex;
  width: max-content;
}
.projectsListAnimated {
  transition: transform 0.4s ease-in-out;
}

.carouselNav {
  position: absolute;
  top: 60vh;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1115px; */
  /* margin: 0 auto; */
  width: calc(100% - 20px);
  transition: all 1s cubic-bezier(0.7, 0, 0, 1);
}
.carouselNavActive {
  top: 47vh;
}
.carouselNavText {
  font-family: var(--font-slussen-mono-medium);
  font-size: 11px;
  line-height: 1.1em;
  font-weight: 500;
  color: #0d0d0d;
  text-transform: uppercase;
  transition: all 1s cubic-bezier(0.7, 0, 0, 1);
}
.carouselNavTextProjectName {
  transform: translate(16vw, 0);
}
.carouselNavTextProjectCounter {
  transform: translate(-16vw, 0);
}
.carouselNavTextProjectNameActive {
  transform: translate(0, 0);
}
.carouselNavTextProjectCounterActive {
  transform: translate(0, 0);
}
.cage {
  position: absolute;
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.7, 0, 0, 1);
  left: 50%;
  bottom: 15px;
  right: 0;
  transform: translate(-50%, 0);
  width: 314px;
  height: 314px;
  z-index: -1;
}
.cageActive {
  opacity: 1;
}
.cageCorner {
  position: absolute;
  width: 12px;
  height: 12px;
}
.cageCornerTopLeft {
  left: 0;
  top: 0;
  border-left: 1px solid #0d0d0d;
  border-top: 1px solid #0d0d0d;
}
.cageCornerTopRight {
  right: 0;
  top: 0;
  border-right: 1px solid #0d0d0d;
  border-top: 1px solid #0d0d0d;
}
.cageCornerBottomLeft {
  left: 0;
  bottom: 0;
  border-left: 1px solid #0d0d0d;
  border-bottom: 1px solid #0d0d0d;
}
.cageCornerBottomRight {
  right: 0;
  bottom: 0;
  border-right: 1px solid #0d0d0d;
  border-bottom: 1px solid #0d0d0d;
}
