html {
  scroll-behavior: smooth;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
/* Mobile devices */
@media (max-width: 768px) {
  /* Стили для мобильных устройств */
}

/* Tablet devices */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Стили для планшетов */
}

/* Desktop devices */
@media (min-width: 1025px) and (max-width: 3439px) {
  /* Стили для обычных десктопов */
}

/* Ultra-wide devices */
@media (min-width: 3440px) {
  /* Стили для ультрашироких экранов */
}
